.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 3rem;
}
.header-menu{
    list-style-type: none;
    color: white;
    display: flex;
    gap: 2rem;
}
.header-menu>li:hover{
    color: var(--orange);
    cursor: pointer;
}
